<!-- App container -->
<!-- <div class="app-container"> -->
    <!-- Heading container -->
    <!-- <div class="heading-container">
        <h1>ToDo App</h1>
    </div> -->

    <!-- Form Container -->
    <!-- <div class="form-container"> -->
        <!-- <form action=""> -->
            <!-- <div class="desc-container">
                <label for="description">Description</label>
            <input type="text" id="description" name="description" placeholder="What you need to be done ?">
            </div>
            <div class="other-container">
                <label for="category">
                    Category
                </label>
                <select name="category" id="category">
                    <option value="">Choose a Category</option>
                    <option value="personal">Personal</option>
                    <option value="work">Work</option>
                    <option value="home">Home</option>
                    <option value="outdoor">Outdoor</option>
                    <option value="important">Important</option>
                </select>
                <label for="due-date">
                    Due-Date
                </label>
                <input type="date" name="due-date" id="due-date">
            </div> -->
            <!-- buttons container -->
            <!-- <div class="btn-container">
                <button class="add-task">Add Task</button>
                <button class="delete-task">Delete Task</button>
            </div> -->
        <!-- </form> -->
    <!-- </div> -->
<!-- </div> -->

<!-- <div class="container">
    <ul>
        <% todos.forEach(todo =>{ %>
            <li>
                <p><%= todo.description %></p>
                <p><%= todo.category%></p>
                <p><%= todo.dueDate%></p>
            </li>
        <% }); %> 
    </ul>
</div> -->