<!-- App container -->
<div class="app-container">
    <!-- Heading container -->
    <div class="heading-container">
        <h1>ToDo App</h1>
    </div>

    <!-- Form Container -->
    <div class="form-container">
        <form action="/add-todo" method="post">
            <div class="desc-container">
                <label for="description">Description</label>
            <input type="text" id="description" name="description" placeholder="What you need to be done ?">
            </div>
            <div class="other-container">
                <label for="category">
                    Category
                </label>
                <select name="category" id="category">
                    <option value="">Choose a Category</option>
                    <option value="personal">Personal</option>
                    <option value="work">Work</option>
                    <option value="home">Home</option>
                    <option value="outdoor">Outdoor</option>
                    <option value="important">Important</option>
                </select>
                <label for="due-date">
                    Due-Date
                </label>
                <input type="date" name="dueDate" id="due-date">
            </div>
            <!-- buttons container -->
            <div class="btn-container">
                <button class="add-task" type="submit">Add Task</button>
                <button href="/"class="delete-task">Delete Task</button>
            </div>

            <div class="todos-container">
                <ul class="todos">
                    <% Todos.forEach(todo => { %>
                        <li class="todo-items">
                            <p> <%= todo.description %>  </p>
                            <p> <%= todo.category %>  </p>
                            <p> <%= todo.dueDate %>  </p>
                            <p> <%= todo.isDone %>  </p>
                        </li>
                    <% }) %> 
                </ul>
            </div>
        </form>
    </div>
</div>
